<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission Planner</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/recents.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
</head>
<body>
    <header id="main-header">
        <input type="search" placeholder="Search Mission">
    </header>
    <main id="grid"></div>
        <div id="left-side-container">
            <p>Favorites</p>
            <a href="#" class="recents link"><i class="recents material-icons">archive</i> Recents</a>
            <a href="#" class="by-date link"><i class="material-icons">filter_list</i> By Date</a>
            <a href="#" class="delete link"><i class="material-icons">delete</i> Delete</a>
            <a href="#" class="all-reports link"><i class="material-icons">library_books</i> All Reports</a>
            <a href="#" class="all-videos link"><i class="material-icons">ondemand_video</i> All Videos</a>

        </div>
        <div id="right-side-container">
        </div>
    </main>
    <script src="../public/javascript/main.js">
    </script>
</body>
</html>