<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission Data</title>
    <link rel="stylesheet" href="../public/css/mission-data.css">
</head>
<body>
    <div id="mission-wrapper">
        <div id="mission-video">
            <iframe width="400" height="300" src="https://www.youtube.com/embed/fRpNHlrstjI" frameborder="0" allowfullscreen></iframe>
            <iframe width="400" height="300" src="https://www.youtube.com/embed/Ou6xWGHwgM4"  frameborder="0" allowfullscreen></iframe>
        </div>
        <p id="mission-name"><b>Mission Name:</b> Some Name</p>
        <p><b>Latitude: </b> 30.9485</p>
        <p><b>Longitude: </b> -50.9485</p>

        <br>
        <p>Generated Report:</p>
        <img id="report" src="../public/images/report.jpeg" alt="">
    </div>
</body>
</html>
