<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Mission</title>
    <link rel="stylesheet" href="../public/css/new-mission.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
</head>
<body>

    <div id="create-mission-wrapper">

        <form id="new-mission-form">
            <p>Create new mission</p>
            <input id="mission-name-input" type="text" placeholder="Mission name ...">
            <input id="proceed-btn" type="submit" value="Proceed">
        </form>
    </div>

    <script src="../public/javascript/new-mission.js"></script>
</body>
</html>