#mission-wrapper {
    display: flex;
    flex-direction: column;
}

#mission-video iframe {
    margin-right: 4rem;
}

#mission-wrapper #report {
    width: 400px;
    height: 300px;
}

#mission-wrapper p {
    margin-top: -0.5rem;
    font-size: 0.9rem;
}

#mission-wrapper #mission-name {
    margin-top: 2rem;
}